<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <xacro:macro name="robot_ros2_control" params="name initial_positions_file"> -->
    <!-- <xacro:macro name="robot_ros2_control" params="name"> -->
    <!-- <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/> -->

        <!-- CHANGE VALUE TO "false" IF USING REAL HARDWARE -->


        <ros2_control name="odrive_control" type="system">
            <hardware>
              <!-- <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin> -->
              <param name="can">can0</param>

              <!-- <plugin>gazebo_ros2_control/GazeboSystem</plugin> -->
              <plugin>mock_components/GenericSystem</plugin>
            </hardware>



          


            <!-- JOINT DETAILS -->
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!-- <param name="initial_value">${initial_positions['shoulder_joint']}</param> -->
                  <param name="initial_value">0.0</param>                  
                  <param name="node_id">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bicept_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!-- <param name="initial_value">${initial_positions['bicept_joint']}</param> -->
                  <param name="initial_value">0.0</param>                            
                  <param name="node_id">1</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!-- <param name="initial_value">${initial_positions['elbow_joint']}</param> -->
                  <param name="initial_value">0.0</param>
                  <param name="node_id">2</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="forearm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!-- <param name="initial_value">${initial_positions['forearm_joint']}</param> -->
                  <param name="initial_value">0.0</param>
                  <param name="node_id">3</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!-- <param name="initial_value">${initial_positions['wrist_joint1']}</param> -->
                  <param name="initial_value">0.0</param>
                  <param name="node_id">4</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!-- <param name="initial_value">${initial_positions['wrist_joint2']}</param> -->
                  <param name="initial_value">0.0</param>
                  <param name="node_id">5</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <!-- ONLY NEEDED FOR GAZEBO -->
        <gazebo>
          <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
              <!-- Tells where to find controller information for Ros2 -->
              <parameters>$(find moveit_config)/config/ros2_controllers.yaml</parameters>
  
              
              <!-- <parameters>$(find arm_urdf)/config/gaz_ros2_ctl_use_sim.yaml</parameters> -->
          </plugin>
      </gazebo>

    <!-- </xacro:macro> -->


</robot>
